@model E_Guitar_IT_Project.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add a Role to User</h2>

@using (Html.BeginForm("AddUserToRole", "Account"))
{
<div class="form-horizontal">
	<div class="form-group">
		<div class="col-md-10">

			@Html.LabelFor(m => m.Email, new { @class = "control-label col-md-1" })
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			@Html.LabelFor(m => m.selectedRole, "Roles", new { @class = "control-label col-md-1" })

			@Html.DropDownListFor(m => m.selectedRole, new SelectList(Model.Roles), new { @class = "form-control" })
		</div>
		<br />
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			<button type="submit" class="btn btn-primary col-md-3">Add</button>
		</div>
	</div>

</div>
}
